<h1><%= @pirate.name %></h1>
<li><%= @pirate.height %></li>
<li><%= @pirate.weight %></li>


<h2><%= @ship01.name %></h2>
<li><%= @ship01.type %></li>
<li><%= @ship01.booty %></li>

<h2><%= @ship02.name %></h2>
<li><%= @ship02.type %></li>
<li><%= @ship02.booty %></li>
